<% if flash[:notice] %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= flash[:notice] %>
  </div>
<% end %>

<%= simple_nested_form_for [:manage, @gallery], html: {class: '.form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
     file: :horizontal_file_input
  } do |f| %>
  <%= f.input :title %>
  <%= f.association :page_meta, as: :select, collection: PageMeta.all, label_method: :localized_slug %>

    <%= f.simple_fields_for :gallery_items do |ff| %>
      <div class="well">
        <%= ff.input :title %>
        <%= ff.input :image, as: :file %>
        <%= image_tag(resize_image(url: ff.object.image_url,width: 300, height: 300), class: 'img-responsive') if ff.object.image_url.present? %>
        <%= ff.link_to_remove 'Удалить', class: "btn btn-danger"%>
      </div>
    <% end %>

  <%= f.link_to_add 'Добавить фотографию', :gallery_items, class: "btn btn-primary" %>

  <%= f.button :submit, 'Сохранить' %>
<% end %>
