<% if flash[:notice] %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= flash[:notice] %>
  </div>
<% end %>
<%= simple_form_for [:manage, @page_meta], html: {class: '.form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
     file: :horizontal_file_input
  } do |f| %>
  <h2>Мета описание:</h2>
  <%= f.input :title %>
  <%= f.input :keywords %>
  <%= f.input :description %>
  <%= f.input :og_title %>
  <%= f.input :og_description %>
  <%= f.input :introduction %>
  <%= f.input :og_image %>
  <%= image_tag @page_meta.og_image_url, class: 'img-responsive' %>
  <%= f.button :submit, 'Сохранить', class: "pull-right" %>

  <h2>Не знаю как это назвать:</h2>
  <%= f.input :bicycle_discount_amount %>
  <%= f.input :bicycle_price %>
  <%= f.input :motorbike_discount_amount %>
  <%= f.input :motorbike_price %>
  <%= f.input :end_day, start_year: Date.today.year %>
  <%= f.button :submit, 'Сохранить', class: "pull-right" %>
<% end %>
