<!-- fixed top bar -->
<nav class="navbar navbar-default navbar-fixed-top nav-justified">
  <div class="container-fluid">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand logo" href="/">
          <%= image_tag "logo.png", :class =>"hidden-xs"%>
          <%= image_tag "logo1.png", :class =>"hidden-sm hidden-md hidden-lg"%>
        </a>
        <p class="navbar-text city hidden-xs hidden-sm">г. Севастополь</p>
        <%= link_to 'заказать сейчас', '#', :class => 'btn btn-default navbar-btn order-button hidden-sm hidden-md hidden-lg nav-button pull-right', data: { toggle: 'modal', target: '#myModal' } %>
      </div>
      <div class="collapse navbar-collapse">
        <%= link_to 'заказать сейчас', '#', :class => 'btn btn-default navbar-btn navbar-right order-button', data: { toggle: 'modal', target: '#myModal' } %>
        <p class='navbar-text navbar-right hidden-xs phone'>+7 (978) 05 09 333</p>
      </div>
    </div>
  </div>
</nav>

<!-- content row -->
<div class="container main-container">
  <div class="row">
    <!-- navigation -->
    <div class="col-sm-4 col-md-3 col-lg-3 hidden-xs left-block">
      <ul class="nav nav-pills nav-stacked navigation affix">
        <div class="info-banner center-block">
          <%= image_tag "logotype.png", class: 'banner-image' %>
          <div class='banner-header'>VPROKATE.INFO</div>
          <div class='banner-content'>Прокат Велосипедов и мопедов в Севастополе</div>
        </div>
        <li><%= link_to 'Вело/мото экскурсии ','http://sevastopol.znaigorod.ru/afisha/ekskursiya-srazheniya-krymskoy-voyny', target: :_blank %></li>
        <li><%= link_to 'Цены', '#price', class: ['js-scroll'] %></li>
        <li><%= link_to 'Пункты проката', '#rent', class: ['js-scroll'] %></li>
        <li><%= link_to 'Технические характеристики', '#tech-details', class: ['js-scroll'] %></li>
        <li><%= link_to 'Условия проката', '#conditions', class: ['js-scroll'] %></li>
        <li><%= link_to 'Kонтакты', '#contacts', class: ['js-scroll'] %></li>
        <li><%= link_to 'Афиша Севастополя', 'http://sevastopol.znaigorod.ru/afisha', target: :_blank %></li>
        <!-- noindex -->
        <div class='share'>Поделиться</div>
        <script type="text/javascript">
          (function() {
            if (window.pluso)if (typeof window.pluso.start == "function") return;
              if (window.ifpluso==undefined) { window.ifpluso = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                var h=d[g]('body')[0];
                h.appendChild(s);
              }})();
        </script>
      <div class="pluso" data-background="transparent" data-options="medium,square,line,horizontal,nocounter,theme=04" data-services="vkontakte,odnoklassniki,facebook,twitter,yandex,google"></div>

      <div id="vk_like"></div>
      <script type="text/javascript">
        VK.Widgets.Like("vk_like", {type: "button", height: 24});
      </script>
      <!-- /noindex -->
    </ul>
  </div>
  <!-- /navigation -->
  <%= render :partial => prefix %>
</div>
<nav class="navbar-default nav-justified">
  <div class="container-fluid">
    <div class="container">
      <div class="navbar-header">
        <%= render :partial => 'commons/counters' %>
      </div>
      <div class="collapse navbar-collapse">
        <%= link_to 'заказать сейчас', '#', :class => 'btn btn-default navbar-btn navbar-right order-button', data: { toggle: 'modal', target: '#myModal' } %>
        <p class='navbar-text navbar-right hidden-xs phone'>+7 (978) 05 09 333</p>
      </div>
    </div>
  </div>
</nav>
