<!-- fixed top bar -->
<nav class="navbar navbar-default navbar-fixed-top nav-justified">
  <div class="container-fluid">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand logo" href="#">
          <%= image_tag "logo.png", :class =>"hidden-xs"%>
          <%= image_tag "logo1.png", :class =>"hidden-sm hidden-md hidden-lg"%>
        </a>
        <p class="navbar-text city hidden-xs hidden-sm">г. Севастополь</p>
        <%= link_to 'заказать сейчас', '#', :class => 'btn btn-default navbar-btn order-button hidden-sm hidden-md hidden-lg nav-button pull-right', data: { toggle: 'modal', target: '#myModal' } %>
      </div>
      <div class="collapse navbar-collapse">
        <%= link_to 'заказать сейчас', '#', :class => 'btn btn-default navbar-btn navbar-right order-button', data: { toggle: 'modal', target: '#myModal' } %>
        <p class='navbar-text navbar-right hidden-xs phone'>+7 (978) 05 09 333</p>
      </div>
    </div>
  </div>
</nav>

<!-- content row -->
<div class="container main-container">
  <div class="row">
    <!-- navigation -->
    <div class="col-sm-4 col-md-3 col-lg-3 hidden-xs left-block">
      <ul class="nav nav-pills nav-stacked navigation affix">
        <div class="info-banner center-block">
          <div class='banner-header'>VPROKATE.INFO</div>
          <div class='banner-content'>Прокат Велосипедов и мопедов в Севастополе</div>
        </div>
        <li class='first'><%= link_to 'Цены', '#price', class: ['js-scroll'] %></li>
        <li><%= link_to 'Пункты проката', '#rent', class: ['js-scroll'] %></li>
        <li><%= link_to 'Технические характеристики', '#tech-details', class: ['js-scroll'] %></li>
        <li><%= link_to 'Условия проката', '#conditions', class: ['js-scroll'] %></li>
        <li><%= link_to 'Kонтакты', '#contacts', class: ['js-scroll'] %></li>
        <li><%= link_to 'Афиша Севастополя', 'http://sevastopol.znaigorod.ru/afisha', target: :_blank %></li>
        <!-- noindex -->
        <div class='share'>Поделиться</div>
        <script type="text/javascript">(function() {
          if (window.pluso)if (typeof window.pluso.start == "function") return;
            if (window.ifpluso==undefined) { window.ifpluso = 1;
              var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
              s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
              s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
              var h=d[g]('body')[0];
              h.appendChild(s);
        }})();</script>
      <div class="pluso" data-background="transparent" data-options="medium,square,line,horizontal,nocounter,theme=04" data-services="vkontakte,odnoklassniki,facebook,twitter,yandex,google"></div>

      <div id="vk_like"></div>
      <script type="text/javascript">
        VK.Widgets.Like("vk_like", {type: "button", height: 24});
      </script>
      <!-- /noindex -->
    </ul>
  </div>
  <!-- /navigation -->

  <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 right-block">
    <div class="row" >
      <div class="col-xs-12 cols-sm-12 col-md-6 col-lg-6">
        <h3 class='hidden-lg hidden-md hidden-sm center-block phone-for-mobile'>+7 (978) 05 09 333</h3>
      </div>
    </div>
    <!-- images -->
    <div class="row image-wrapper hidden-xs hidden-sm">
      <div class="col-xs-12 cols-sm-12 col-md-6 col-lg-6">
        <div class="bicycle">
          <div class="center-block title">Велосипед TXED AF-17 26'</div>
          <div class='hit-img-wrapper hidden-xs'> <%= image_tag 'hit-img.png' %> </div>
          <%= image_tag 'bicycle.jpg', class: "img-responsive" %>
        </div>
      </div>
      <div class="col-xs-12 cols-sm-12 col-md-6 col-lg-6">
        <div class="motorbike">
          <div class="center-block title">Мопед Racer Lupus 50</div>
          <div class='hit-img-wrapper hidden-xs'> <%= image_tag 'hit-img.png' %> </div>
          <%= image_tag 'motorbike.jpg', class: "img-responsive" %>
        </div>
      </div>
    </div>
    <!-- /images -->

    <!-- order -->
    <div class="row">
      <div class="col-xs-12 col-lg-offset-1 col-lg-11 col-md-11 col-md-offset-1 col-sm-12">
        <div class="order hidden-xs hidden-sm hidden-md">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 left">
              <div class="pull-right action">
                <div class="action-img-wrapper bicycle">
                  <%= image_tag 'red-img.png' %>
                  <span class='img-text'><%= round_number(page_meta.bicycle_discount_amount) %>%<br />скидка</span>
                </div>
                <p class="colored title">
                  Бесплатная доставка! *
                </p>
                <p class="colored title">
                  Бесплатно в комплекте мотошлем, защитный трос и бак бензина!
                </p>
              </div>
              <div class="arrow-box">Акция до <span><%= Russian::strftime(page_meta.end_day, "%d %B") %></span></div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-0 col-lg-6 right">
              <div class="pull-right js-timer-info" data-date="<%= page_meta.end_day %>" >
                <h3>
                  ДО КОНЦА АКЦИИ ОСТАЛОСЬ
                </h3>
                <div class="js-countdown"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="order no-mrg-top">
          <div class="row row-custom-margin">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4">
              <%= image_tag 'bicycle.jpg',class: "img-responsive" %>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-8">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class='type-title'>Велосипед TXED AF-17 26'</div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <%= link_to 'Заказать сейчас', '#', class: [:btn, 'btn-default', 'order-button', :large, 'center-block'], data: { toggle: 'modal', target: '#myModal' } %>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class='new_price'><%= discount_price('bicycle') %>
                    <div class='upper'>руб</div>
                  </div>
                  <div class='old_price'><%= page_meta.bicycle_price %>
                    <div class='upper'>руб</div>
                  </div>
                  <div class="annotation">Цена за сутки</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div style='border: 1px solid #fff;'></div>
          </div>
        </div>
        <div class="order no-mrg-top">
          <div class="row row-custom-margin action">
            <div class="action-img-wrapper motorbike hidden-xs hidden-sm hidden-md">
              <%= image_tag 'red-img.png' %>
              <span class='img-text'><%= round_number(page_meta.motorbike_discount_amount) %>%<br />скидка</span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4">
              <%= image_tag 'motorbike.jpg', class: "img-responsive" %>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-8">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class='type-title'>Мопед Racer Lupus 50</div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <%= link_to 'Заказать сейчас', '#', class: [:btn, 'btn-default', 'order-button', :large, 'center-block'], data: { toggle: 'modal', target: '#myModal' } %>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class='new_price'><%= discount_price('motorbike') %>
                    <div class='upper'>руб</div>
                  </div>
                  <div class='old_price'><%= page_meta.motorbike_price %>
                    <div class='upper'>руб</div>
                  </div>
                  <div class="annotation">Цена за сутки</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /order -->

    <!-- table -->
    <div class="row" id='price'>
      <h2 class="header">ЦЕНЫ</h2>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="table-responsive">
          <table class="table table-bordered table-hover price-table">
            <thead>
              <th>Модель</th>
              <th>за 1 час </th>
              <th>на 1-5 дней</th>
              <th>на 6-13 дней</th>
              <th>свыше 13 дней</th>
            </thead>
            <tbody>
              <tr>
                <td>Велосипед TXED AF-17 26'</td>
                <td>100</td>
                <td>320</td>
                <td>250</td>
                <td>200</td>
              </tr>
              <tr>
                <td>Мопеды Racer Lupus 50</td>
                <td>300</td>
                <td>850</td>
                <td>750</td>
                <td>650</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p class='colored'>* Есть детские велосипеды и кресла. Цена договорная, бронируйте заранее.</p>
        <p class='colored'>* Доставка при заказе от 14 дней</p>
      </div>
    </div>
    <!-- /table -->

    <!-- map -->
    <div class="row map-wrapper" id='rent'>
      <h2 class="header">ПУНКТЫ ПРОКАТА</h2>
      <div class="col-xs-12 cols-sm-12 col-md-6 col-lg-6">
        <div class="map">
          <span class="title">Парк Победы(на кольце)</span>
          <%= image_tag 'map1.jpg',class: "img-responsive" %>
        </div>
      </div>
      <div class="col-xs-12 cols-sm-12 col-md-6 col-lg-6">
        <div class="map">
          <span class="title">Комсольский парк</span>
          <%= image_tag 'map2.jpg',class: "img-responsive" %>
        </div>
      </div>
    </div>
    <!-- /map -->

    <!-- condition  -->
    <div class="row condition-wrapper" id='conditions'>
      <h2 class="header">УСЛОВИЯ ПРОКАТА</h2>
      <div class=" col-lg-2 col-md-2 col-sm-6 col-xs-6">
        <%= image_tag 'feature1.png', class: "img-responsive center-block"%>
        <div class="center-block title">
          Залог за мопед - <span class="highlighted">3 000</span> рублей и любой из имеющихся документов
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
        <%= image_tag 'feature2.png', class: "img-responsive center-block"%>
        <div class="center-block title">
          Залог за велосипед - любой из имеющихся документов
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <%= image_tag 'feature3.png', class: "img-responsive center-block"%>
        <div class="center-block title">
          Паспорт, загранпаспорт, водительское удостоверение, страховой или любой другой документ для заключения договора аренды
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <%= image_tag 'feature4.png', class: "img-responsive center-block"%>
        <div class="center-block title">
          <span class="highlighted">Обязательно</span> наличие у арендатора водительского удостоверения любой категории
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
        <%= image_tag 'feature5.png', class: "img-responsive center-block"%>
        <div class="center-block title">
          Минимальный срок аренды скутера — <span class="highlighted">1</span> час
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 condition-list">
        <ul>
          <li><span>Стоимость услуги зависит от срока аренды и выбранной модели транспортного средства. Подробнее о стоимости проката вы можете узнать на соответствующей странице нашего сайта</span></li>
          <li><span>Залог (возвращается по окончании срока аренды, если техника не повреждена) — 3000 рублей. Арендатор возмещает ущерб в полном объёме по рыночным расценкам, в т.ч., если стоимость ремонта превышает сумму залога.</span></li>
          <li><span>Перед подписанием договора арендатор проходит вводный инструктаж</span></li>
          <li><span>Обязательное соблюдение ПДД, а также использование защитного шлема</span></li>
          <li><span>Возможна доставка техники к месту нахождения арендатора. Условия доставки предварительно обсуждаются по телефону</span></li>
        </ul>
      </div>
    </div>
    <!-- /condition  -->

    <!-- tech-detail -->
    <div class="row table-wrapper" id='tech-details'>
      <h2 class="header">ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</h2>
      <div class="col-xs-12 cols-sm-12 col-md-6 col-lg-6">
        <div class="center-block title">Мопед Racer Lupus 50</div>
        <div class="table-responsive">
          <table class="table table-bordered table-hover price-table tech-table">
            <tr>
              <td>Габариты, мм</td>
              <td class="info-text">1830*700*1180</td>
            </tr>
            <tr>
              <td>Колесная база, мм</td>
              <td class="info-text">1290</td>
            </tr>
            <tr>
              <td>Тип двигателя </td>
              <td class="info-text">RACER, 4-х такт</td>
            </tr>
            <tr>
              <td>Объем двигателя см3</td>
              <td class="info-text">49.5</td>
            </tr>
            <tr>
              <td>Мощность, л.с.</td>
              <td class="info-text">3.9</td>
            </tr>
            <tr>
              <td>Система охлаждения</td>
              <td class="info-text">Воздушное охлаждение</td>
            </tr>
            <tr>
              <td>Карбюратор</td>
              <td class="info-text">Тайвань</td>
            </tr>
            <tr>
              <td>КПП</td>
              <td class="info-text">АКПП, ремень</td>
            </tr>
            <tr>
              <td>Стартер</td>
              <td class="info-text">Электро и кик-стартер</td>
            </tr>
            <tr>
              <td>Объем топливного бака, л</td>
              <td class="info-text">6.0</td>
            </tr>
            <tr>
              <td>Расход топлива, л/100 км</td>
              <td class="info-text">2.0</td>
            </tr>
            <tr>
              <td>Макс. скорость, км/ч</td>
              <td class="info-text">≥49</td>
            </tr>
            <tr>
              <td>Макс. нагрузка, кг</td>
              <td class="info-text">150</td>
            </tr>
            <tr>
              <td>Вес, кг</td>
              <td class="info-text">83</td>
            </tr>
            <tr>
              <td>Размер колеса</td>
              <td class="info-text">120/70-12</td>
            </tr>
            <tr>
              <td>Колеса (материал)</td>
              <td class="info-text">Литые (алюминий)</td>
            </tr>
            <tr>
              <td>Шины</td>
              <td class="info-text">KBF (Тайвань)</td>
            </tr>
            <tr>
              <td>Расположение масляного насоса</td>
              <td class="info-text">Двигатель</td>
            </tr>
            <tr>
              <td>Аккумулятор</td>
              <td class="info-text">12V/7Ah</td>
            </tr>
            <tr>
              <td>Тормоза передние/задние</td>
              <td class="info-text">Дисковые/Барабанные</td>
            </tr>
            <tr>
              <td>Приборная панель</td>
              <td class="info-text">Электромеханическая</td>
            </tr>
            <tr>
              <td>Цветовая гамма </td>
              <td class="info-text">Желтый, белый, зеленый, синий, красный</td>
            </tr>
            <tr>
              <td>Примечание</td>
              <td class="info-text">Два усиленных задних амортизатора</td>
            </tr>
          </table>
        </div>
        <div>
          Легендарная модель скутера выпускается без каких либо серьезный изменений уже 5-й сезон. Дисковые передние тормоза, 12-ти дюймовые колеса на литых дисках, двойные усиленные задние амортизаторы. Большой двух местный скутер с классическим дизайном. 
        </div>
      </div>
      <div class="col-xs-12 cols-sm-12 col-md-6 col-lg-6">
        <div class="center-block title">Велосипед TXED AF-17 26'</div>
        <div class="table-responsive">
          <table class="table table-bordered table-hover price-table tech-table">
            <tr>
              <td>AF-17</td>
              <td class="info-text">26 "x1.95 MTB велосипеды, SHIMANO TZ50 21-скорости</td>
            </tr>
            <tr>
              <td>Кадр</td>
              <td class="info-text">26 "x20", Hiten TIG сварки, подвески</td>
            </tr>
            <tr>
              <td>Размер</td>
              <td class="info-text">20 "</td>
            </tr>
            <tr>
              <td>Передачи</td>
              <td class="info-text">Shimano 21 скорость, SL-RS35/FD-TZ30/RD-TZ50</td>
            </tr>
            <tr>
              <td>Тормоз</td>
              <td class="info-text">Сплав V-тормоз с рычагом сплава и смолы кронштейна</td>
            </tr>
          </table>
        </div>
        <div>
          Началом создания является 1994 год. Txed посвятил себя не только исследованиям и разработкам, но и производству и экспорту качественных велосипедов и электрических велосипедов на мировой рынок, в основном в Европу. TXED также заключает контакты с заводами по производству велосипедов в Малайзии, Таиланда, Бангладеш и других развивающихся странах с 2003 года. Убеждение Txed - качественные велосипеды пользуются большим спросом, и что качество приносит большой успех как для своих клиентов так и для самих себя. В результате их усилий 16 лет, популярность Txed растет из года в год, а регулярные заказы поступают ежегодно из более чем 30 стран и регионов по всему миру.Txed стал одним из ведущих производителей и экспортеров в Китай велосипедов. Несмотря на нынешний мировой финансовый кризис , Txed по-прежнему держать стабильный рост.
        </div>
      </div>
    </div>
    <!-- /tech-detail  -->

    <!-- contacts -->
    <div class="row contacts-wrapper" id='contacts'>
      <h2 class="header">Контакты</h2>
      <div class="contacts-content">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <%= image_tag 'widget.jpg', class: "img-responsive"%>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
          <div class="info">
            <p class='head'>ООО "ЗнайГород"</p>
            <p>Обособленное подразделение в г. Севастополь</p>
            <p><span class='highlighted'>Юридический адрес:</span> г. Севастополь, ул. Воронина 10 офис 503</p>
            <p>ОГРН 1137017006246</p>
            <p>ИНН 7017327166</p>
            <p>КПП 920445001</p>
            <p><span class='highlighted'>Телефон:</span> +7 (978) 05 09 333</p>
            <p><span class='highlighted'>E-mail:</span> <%= mail_to 'ss777@yandex.ru' %></p>
          </div>
        </div>
      </div>
    </div>
    <!-- /contacts -->
    <!-- about -->
    <div class="row about-wrapper">
      <h2 class="header">О нас</h2>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= page_meta.introduction %>
      </div>
    </div>
    <!-- /about -->
  </div>
</div>
</div>
<nav class="navbar-default nav-justified">
  <div class="container-fluid">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand logo" href="#">
          <%= image_tag "logo.png", :class =>"hidden-xs"%>
          <%= image_tag "logo1.png", :class =>"hidden-sm hidden-md hidden-lg"%>
        </a>
        <%= link_to 'заказать сейчас', '#', :class => 'btn btn-default navbar-btn order-button hidden-sm hidden-md hidden-lg nav-button pull-right', data: { toggle: 'modal', target: '#myModal' } %>
      </div>
      <div class="collapse navbar-collapse">
        <%= link_to 'заказать сейчас', '#', :class => 'btn btn-default navbar-btn navbar-right order-button', data: { toggle: 'modal', target: '#myModal' } %>
        <p class='navbar-text navbar-right hidden-xs phone'>+7 (978) 05 09 333</p>
      </div>
    </div>
  </div>
</nav>
<%= render :partial => 'commons/modal_window' %>
