<!DOCTYPE html>
<html>
<head>
  <title>Vprokate manage</title>
  <%= stylesheet_link_tag    'manage/application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container manage_wrapper">
    <div class="col-lg-3">
      <ul class="nav nav-pills nav-stacked">
        <%= content_tag :li, link_to('Мета описание', manage_root_path), class: controller_name == 'page_meta' ? 'selected' : '' %>
        <%= content_tag :li, link_to('Заказы звонков', manage_phone_orders_path), class: controller_name == 'phone_orders' ? 'selected' : '' %>
      </ul>
    </div>
    <div class="col-lg-9">
      <%= yield %>
    </div>
  </div>
</body>
</html>
